<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.irlab.view">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Robotgo"
        android:extractNativeLibs="true"
        tools:remove="android:appComponentFactory">
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="32617660" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="SxaansGnQMVCi93dzkBu8Ppc" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="iKjx5B2DawV18PHNIeVh5QHQFp14kycd" />
        <activity
            android:name=".activity.FriendsPlayActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SpeechActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ConnectWifiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.PlayActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.UserInfoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.GameRecordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SelectConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecordReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainView"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>