/build
/.cxx/RelWithDebInfo

/.cxx/ndk_locator_record.json
/.cxx/ndk_locator_record_1y2a5t3i.json
/.cxx/ndk_locator_record_1y2a5t3i_key.json
/.cxx/ndk_locator_record_4b5852l5.json
/.cxx/ndk_locator_record_4b5852l5_key.json
/.cxx/ndk_locator_record_6k28c1r4.json
/.cxx/ndk_locator_record_6k28c1r4_exception.txt
/.cxx/ndk_locator_record_6k28c1r4_key.json
